# Coursera Capstone Notebook

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
#https://beenje.github.io/blog/posts/parsing-html-tables-in-python-with-pandas/
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df_list = pd.read_html(str(table), header=0)

#create dataframe
df = df_list[0]

#drop rows Borough == Not assigned
df = df[df.Borough != 'Not assigned']

# Select all duplicate rows based on Postal code
#duplicateRowsDF = df[df.duplicated(['Postal code'])]
#duplicateRowsDF

# replace / to ,
df = df.replace(to_replace=r'\s/', value=',', regex=True)

df.head(5)

  Postal code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [3]:
df.shape

(103, 3)

In [4]:
file = r'Geospatial_Coordinates.csv'
!wget -q -O 'Geospatial_Coordinates.csv' https://cocl.us/Geospatial_data

In [5]:
df_geo = pd.read_csv(file)
df_geo.columns = ['Postal code', 'Latitude', 'Longitude']
df_geo.head(5)

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
# merge two Dataframes by Postal code
df_final = df.merge(df_geo, on="Postal code", how = 'inner')
df_final.head(5)

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494